<div class="w-full h-screen flex flex-row relative">
  <div
    class="h-full p-2 bg-gray-300 flex flex-col justify-center items-center"
    [ngClass]="{'hidden': !isHidden(), 'w-[500px]':isHidden()}"
  >
  @if (store.isLogged()) {
    <div class="h-full flex flex-col justify-between py-5">
      <span></span>
      <div class="flex flex-col gap-2">
        <button mat-stroked-button color="primary" matBadge={{totalActivities()}} matBadgePosition="after" matBadgeColor="accent"
        (click)="goToMyActivities()">Mis actividades</button>
      </div>
      <button mat-flat-button color="warn" (click)="onLogout()">salir</button>
    </div>
  }@else {
    <login-button />
  }
  </div>
  <div class="w-full h-full relative">
    <button class="absolute top-2 left-2" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>
</div>
