
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body { height: 100%; width: 100%; background-color: rgb(194, 194, 194); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#wordSearchContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  max-width: 500px;
  margin: 0 auto;
}

#wordSearchContainer div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  cursor: pointer;
}

#wordSearchContainer div.selected {
  background-color: #add8e6;
}
.selected {
  background-color: #90ee90;
}

.found {
  background-color: #ffcccb;
}
.wordsList {
  max-width: 90vw;
  max-height: 450px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
}
@media(max-width:800px){
  .wordsList{
    width: 400px;
    align-items: center;
    flex-direction: row;
    overflow-x: visible;
    overflow-y: hidden;
  }
}

.wordsList img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}

.wordsList img.found::after {
  content: ' ✔️';
  color: green;
}

.wordsList img.found {
  background-color: #67ff67;
  text-decoration: none;
}

.wordsList::-webkit-scrollbar{
  height: 5px;
  width: 5px;
}
.wordsList::-webkit-scrollbar-track{
  background: #888;
  border-radius: 100px;
}

.wordsList::-webkit-scrollbar-thumb {
  background: #313844;
  border-radius: 100px;
}

/* Handle on hover */
.wordsList::-webkit-scrollbar-thumb:hover {
  background: #555;
}
